@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: linear-gradient(to right, #2D599C, #18396B, #18396B);
  color: white;
  width: 100%;
  margin: 0;
  padding: 0;
}

/*   background: linear-gradient(435deg, #1e3d73, #240617, #1b4e85); */
/* background: linear-gradient(435deg, #1e3864, #2c4f73, #112f4f); */
